
.hg/
/home/qiming/Pedestrian/doppia/src/applications/boosted_learning/InriaPerson_octave_0_train
src/applications/video_ped_detection/CMakeFiles

src/applications/video_ped_detection/video_ped_detection

# use glob syntax.
syntax: glob

applications/doppia/doppia
applications/simple_stereo/simple_stereo
applications/simple_stereo_lib/test_simple_stereo_lib
applications/simple_gpu_stereo/simple_gpu_stereo
applications/stereo_matching/stereo_matching
applications/stereo_matching_with_prior/stereo_matching_with_prior
applications/klt_for_video/klt_for_video
applications/flow_for_video/flow_for_video
applications/tracks_classifier_evaluation/tracks_classifier_evaluation
applications/stixel_world/stixel_world
applications/objects_detection/objects_detection
applications/ground_estimation/ground_estimation
applications/create_learning_files/create_learning_files
applications/boosted_learning/boosted_learning
applications/bootstrapping_lib/test_*_lib
applications/objects_detection_lib/test_*_lib
applications/stixel_world_lib/test_*_lib
applications/compute_geodesic_channels/compute_geodesic_channels
applications/reweight_detections/reweight_detections

tests/data_sequence/test_data_sequence
tests/tracks_categorisation/test_tracks_categorisation
tests/lines_detection/test_lines_detection
tests/ground_plane/test_ground_plane
tests/stixels_estimation/test_stixels_estimation
tests/objects_detection/test_objects_detection

src/applications/objects_detection/*_recordings*
tools/objects_detection/tmp/*
src/applications/objects_detection/cvpr2012/*
src/applications/objects_detection/results/*
src/applications/boosted_learning/results/*
src/applications/objects_detection/config_models/*
src/applications/objects_detection/crop*
src/applications/boosted_learning/left22222seed/*
src/applications/boosted_learning/22222seed_new/*
src/applications/boosted_learning/59166seed/*
tools/objects_detection/crop*
tools/objects_detection/results/*
src/applications/boosted_learning/22222Seed/*

src/applications/objects_detection/car_detection*

src/objects_detection/gpu/generated_*

documentation/build

2011_*
2010_*
2012_*
2013_*

gmon.out
Makefile
CMakeCache.txt
CMakeFiles/*
cmake_install.cmake

Debug/*
output/*

sceneflow_devernay/*
folki/*

src/applications/doppia/*_recordings/
src/applications/tracks_classifier_evaluation/*.txt
src/applications/objects_detection/training_runs
src/applications/linear_svm_learning/inria_model*.txt

*.a
*.o
*.so

*.exr
*.png
*.pgm
*.pnm
*.jpg
*.tif
*.svg
*.avi
*.mp4
*.pdf
*.submit

*~
*.pidb
*.orig
.waf*
.svn*
.scon*
.lock*
*.pro.user
*.tmp
*.pyc
*.pickle
*.pkl
opencv.pc

*.proto.data
#*.proto
*.proto.bin
*.bin
*.data_sequence
*.sequence

*.iv
*.test
*.csv

*.zip
*.pro.user.*
*.txt.user*
*.cbp

*recordings/program_options.txt

callgrind.out.*
cachegrind.out.*
*.callgrind
*.prof

\#*
.leo_shadow

*.out.txt
*.condor.out
*.err
*.log





libs/liblinear-1.8/CMakeFiles/
libs/liblinear-1.8/Makefile
libs/liblinear-1.8/cmake_install.cmake
libs/liblinear-1.8/libblas.so
libs/liblinear-1.8/liblinear.so
src/applications/boosted_learning/CMakeCache.txt
src/applications/boosted_learning/CMakeFiles/
src/applications/boosted_learning/Makefile
src/applications/boosted_learning/boosted_learning
src/applications/boosted_learning/cmake_install.cmake
src/applications/bootstrapping_lib/CMakeCache.txt
src/applications/bootstrapping_lib/CMakeFiles/
src/applications/bootstrapping_lib/Makefile
src/applications/bootstrapping_lib/cmake_install.cmake
src/applications/bootstrapping_lib/libbootstrapping.so
src/applications/bootstrapping_lib/libcuda_stuff_library.a
src/applications/bootstrapping_lib/test_bootstrapping_lib
src/applications/compute_feature_channels/CMakeCache.txt
src/applications/compute_feature_channels/CMakeFiles/
src/applications/compute_feature_channels/Makefile
src/applications/compute_feature_channels/cmake_install.cmake
src/applications/compute_feature_channels/compute_feature_channels
src/applications/compute_feature_channels/libcuda_stuff_library.a
src/applications/ground_estimation/CMakeCache.txt
src/applications/ground_estimation/CMakeFiles/
src/applications/ground_estimation/Makefile
src/applications/ground_estimation/cmake_install.cmake
src/applications/ground_estimation/ground_estimation
src/applications/objects_detection/CMakeCache.txt
src/applications/objects_detection/CMakeFiles/
src/applications/objects_detection/Makefile
src/applications/objects_detection/cmake_install.cmake
src/applications/objects_detection/libcpp_stuff_library.a
src/applications/objects_detection/libcuda_stuff_library.a
src/applications/objects_detection/objects_detection
src/applications/objects_detection/objects_detection.out.txt
src/applications/objects_detection_lib/CMakeCache.txt
src/applications/objects_detection_lib/CMakeFiles/
src/applications/objects_detection_lib/Makefile
src/applications/objects_detection_lib/cmake_install.cmake
src/applications/objects_detection_lib/libcuda_stuff_library.a
src/applications/objects_detection_lib/libmonocular_objects_detection.so
src/applications/objects_detection_lib/libmonocular_objects_detection_with_ui.so
src/applications/objects_detection_lib/libobjects_detection.so
src/applications/objects_detection_lib/libobjects_detection_with_ui.so
src/applications/objects_detection_lib/test_monocular_objects_detection_lib
src/applications/objects_detection_lib/test_monocular_objects_detection_with_ui_lib
src/applications/objects_detection_lib/test_objects_detection_lib
src/applications/objects_detection_lib/test_objects_detection_with_ui_lib
src/applications/stixel_world/CMakeCache.txt
src/applications/stixel_world/CMakeFiles/
src/applications/stixel_world/Makefile
src/applications/stixel_world/cmake_install.cmake
src/applications/stixel_world/stixel_world
src/applications/stixel_world_lib/CMakeCache.txt
src/applications/stixel_world_lib/CMakeFiles/
src/applications/stixel_world_lib/Makefile
src/applications/stixel_world_lib/cmake_install.cmake
src/applications/stixel_world_lib/libstixel_world.so
src/applications/stixel_world_lib/libstixel_world_with_ui.so
src/applications/stixel_world_lib/test_stixel_world_lib
src/applications/stixel_world_lib/test_stixel_world_with_ui_lib
src/applications/video_input/CMakeCache.txt
src/applications/video_input/CMakeFiles/
src/applications/video_input/Makefile
src/applications/video_input/cmake_install.cmake
src/applications/video_input/video_input



